@page {
    margin: 1.25in !important;
    size: letter portrait;
}

@media print {
  html{
    font-size: 16px;
  }
    .container {
        margin: 0.4px !important;
        padding: 0.4px !important;
        page-break-after: always;
    }
    .solutions, .answer{
        visibility: hidden;
    }

    .unit, .section{
        page-break-after: always;
    }
}