@page {
    /* size: 11in 8.5in;
    margin: 1in!important; */
  /* margin-top: 1 */
  /* size: letter portrait; */
}

/* @page:left{
        padding-left: 1in;
        padding-right: .8in;
}

@page:right{
    padding-right: 1in;
    padding-left: .8in;
} */

@media print {
    
html{
  font-size: 14px;
}

/* body {padding: .5in;} */


div.container {
    padding-right: .8in;
}

.problem{
    page-break-inside: avoid;
}

  .solutions, .answer{
      visibility: hidden;
  }

  .unit, .section{
      page-break-after: always;
  }

  li {
    line-height: 1.6em;
    margin-left: .75em;
}

}