<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Math 1630, pscc, pellissippi state, pscc">
  <meta name="theme-color" content="#001cb8" />
  <title>Math 1630</title>
  <!-- <link rel="manifest" href="manifest.json"> -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <!-- <noscript>

  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="./css/printing.css" media="print">
</noscript> -->

  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="./css/printing.css?id=9" media="print">

  <style>
    .toc li{
  list-style-type: none;
 }
 

    </style>
</head>

<body>
  <div id="app-1630" class="container">

    <header class="banner">
      <h1>Math 1630</h1>
      <hr>
    </header>

    <div v-if="(loading)">
      <h2 class="text-center">{{loadingMsg}} </h2>
    </div>

    <div v-if="(!loading)">

      <ul class="toc">
        <li id="showall" v-on:click="setSection('','')" v-show="(currentUnit!='' || currentSection!='')"><a href="#" title="Show all notes and sections">Show
            All</a></li>
        <li v-for="(unit, index_unit) in notes.units" v-show="((!loading)&&(currentUnit==unit || currentUnit ==''))"><a
            href='#' v-on:click="setUnit(unit)">{{index_unit + 1 + '. '}}{{unit.title}}</a>
          <ul>
            <li v-for="(section, index_section) in unit.sections" v-show="((currentSection==section || currentSection ==''))"><a href='#' v-on:click="setSection(unit,section)">{{index_unit
                + 1 + '.'}}{{(index_section + 1) + '. '}}{{section.title}}</a>
          </ul>
        </li>
      </ul>

    </div>

    <div id="unit" class="unit" v-show="((!loading)&&(currentUnit==unit || currentUnit ==''))" v-for="(unit, index_unit) in notes.units">
      <h2 class="unittitle" :id="unit.title">{{index_unit + 1 + '. '}}{{unit.title}}</h2>
      <div class="unitintro" v-if="(unit.intro)" v-html="unit.intro"></div>
      <div id="section" class="section" v-for="(section, index_section) in unit.sections" v-show="((currentSection==section || currentSection ==''))">
        <h3 class="sectiontitle" :id="section.title">{{index_unit + 1 + '.'}}{{(index_section + 1) + '. '}}{{section.title}}</h3>
        <div class="sectionintro" v-if="(section.intro)" v-html="section.intro"></div>
        <div class="problemset" v-for="(problemset, index_problemset) in section.problemsets">
          <p class="problemsetintro" v-html="problemset.intro"></p>
          <ol>
            <li class="problem" v-for="(problem, index_problem) in problemset.problems"> <span v-if="(problem.text)"
                v-html="problem.text"></span>
              <ul class="solutions">
                <li class="solution" v-for="(solution, index_solution) in problem.solutions" v-html="solution"></li>
                <li class="answer" v-html="problem.answer.text"></li>
              </ul>
              <!--end of a solution and answer -->
            </li>
            <!--end of a problem -->
          </ol>
          <p><a :href="problemset.citation" target="_blank">{{problemset.citation}}</a></p>
        </div>
        <!--end of a problem set -->
      </div>
      <!--end of a section -->
    </div>
    <!--end of a unit -->
  </div>
  <!--end of app container -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_SVG"></script> -->
  <script src="./js/vue.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script> -->

  <script>


    var app = new Vue({
      el: "#app-1630",
      data: {
        loading: true,
        loadingMsg: "Loading...",
        notes: {},
        currentUnit: '',
        currentSection: ''
      }, // end of vue data object
      created: function () {
        this.fetchUnits();
      }, //end of created function
      watch: {
        notes: function () {
          MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
        }
      },
      methods: {
        fetchUnits: function () {
          let self = this;

          let xhr = new XMLHttpRequest();
          let servicelink = './js/units.json';
          // let servicelink = './js/units.json?nocache' + (new Date()).getTime(); //todo remove no cache when production
          xhr.open('GET', servicelink)
          xhr.onload = function () {
            self.notes = JSON.parse(xhr.responseText)
            this.notes = self.notes
            self.loading = false
            MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
          }
          xhr.send()
        }, //end of fetch units function
        setUnit: function (unit) {
          this.currentUnit = unit
          this.currentSection = ''
        },//end of set unit function
        setSection: function (unit, section) {
          this.currentUnit = unit
          this.currentSection = section
        }//end of set section function
      }//end of methods object
    }); // end of vue app
  </script>
  <!-- <script src="./js/app.js"></script> -->
  <!-- <script type="text/javascript">
    var giftofspeed = document.createElement('link');
    giftofspeed.rel = 'stylesheet';
    giftofspeed.href = './css/styles.css';
    giftofspeed.type = 'text/css';
    var godefer = document.getElementsByTagName('link')[0];
    godefer.parentNode.insertBefore(giftofspeed, godefer);

    var giftofspeed2 = document.createElement('link');
    giftofspeed2.rel = 'stylesheet';
    giftofspeed2.href = './css/printing.css';
    giftofspeed2.type = 'text/css';
    var godefer2 = document.getElementsByTagName('link')[0];
    godefer2.parentNode.insertBefore(giftofspeed2, godefer2);
  </script> -->
</body>

</html>